<div class="row">
  <div class="col m6 offset-m3 s12">
    <a *ngIf="!showForm" (click)="showForm=true"
       class="btn-floating btn-large waves-effect aves-light green">
      <i class="material-icons">add</i>
    </a>

    <form *ngIf="showForm" #myForm="ngForm" novalidate
          (ngSubmit)="onSubmit(myForm)">
      <h5>Нова вантажівка</h5>
      <div class="input-field">
        <input type="text" name="number" id="number" required ngModel>
        <label for="number">Номер вантажівки</label>
      </div>
      <div class="input-field">
        <input type="text" name="mark" id="mark" required ngModel>
        <label for="mark">Марка</label>
      </div>
      <div class="input-field">
        <input type="text" name="typeOfCargo" id="typeOfCargo" required ngModel>
        <label for="typeOfCargo">Тип вантажу</label>
      </div>
      <div class="input-field">
        <input type="number" name="driversQuantity" id="quantity" required ngModel>
        <label for="quantity">Кількість водіїв</label>
      </div>

      <div class="form-group">
        <button type="button" (click)="showForm=false"
                class="rem-row btn-floating waves-effect waves-light left blue-grey">
          <i class="material-icons">keyboard_arrow_up</i>
        </button>

        <button type="submit" [disabled]="myForm.invalid"
                class="rem-row btn-floating waves-effect waves-light green right">
          <i class="material-icons">done</i>
        </button>
      </div>
    </form>
  </div>
</div>
